{% extends "layout.twig" %}
{% set act = "home" %}
{% block title %}Home{% endblock %}

{% block content %}
          <h2> WEB-Developer</h2>
<div class="container"> 
             <section class="row">
               
                  
            <div  id="zitat">               
             <p  >Meinen ersten Computer habe ich im Alter von zwölf Jahren geschenkt bekommen. Mit achtzehn programmierte ich meine ersten kleinen Projekte.  Ich  erlangte in den folgenden Jahren das wissen vieler  Programmiersprachen.  Im Jahre 2004 schloss ich meine Ausbildung zum Informatiker ab habe mich aber dann  Entschieden einen andren Berufsweg zugehen,  Seitdem beschäftige ich mich in meiner Freizeit  mit  der Entwicklung von Webseiten.
Dies ist auch der Grund der mich dazu bewegte in diesen Berufszweig wieder voll einzusteigen. Im meinen bisherigen Berufslaufban erlangte ich  zusätzlich ausgeprägte Fähigkeiten im Pro­jekt­ma­nage­ment, in einem globalen hanseatischen Unternehmen.

Als Entwickler bin ich motiviert meine Fähigkeiten auszubauen, mich Herausforderungen zu stellen, neue Dinge zu erlernen und auszuprobieren. Dabei ist mir wichtig die gängigen Web-Standards einzuhalten.</p>               
           <img style="width:50px; height:auto;" src="{{ basePath }}\imgbig\thomas20181.jpg" alt="Thomas Gizycki" > 
           </div>          
          
            <div class="col-md-6 center">
                            
             <a href="https://www.facebook.com/thomas.gizycki" title="Facebook"><img style="width:50px; height:auto;" src="{{ basePath }}/img/icons/facebook-icon.png" alt="facebook" > </a> 
                </div>

            <div class="col-md-6 center">
                 <a href="https://www.xing.com/profile/Thomas_Gizycki/cv?sc_o=da980_e" title="Xing"> <img style="width:50px; height:auto;" src="{{ basePath }}/img/icons/xing.png" alt="Xing"></a>
                </div>
           
    </section>
</div>    
{% endblock %}
