{% extends "layout.twig" %}
{% set act = "resume" %}
{% block title %}Lebenslauf{% endblock %}

{% block content %}
      
          <h1 >Lebenslauf</h1>  
<section class="row" >
      
    <article class="col-md-12 text-center" >
        <h2>Persönliche Informationen</h2>
    <dl>
       
        <dt>über mich</dt>
    <dd><ul>
            <li>Nationalität: deutsch</li>
            <li>Geboren am: 04.12.1980</li>
            <li>Geburtsort: Landsberg a. d. Warthe</li>
        </ul>
    </dd>
   
    </dl> 
    </article>
    <article class="col-sm">
        <h2>Beruflicher  Werdegang</h2>
    <dl id="werdegang" > 
        <dt> 2004-Heute</dt>
        <dd>08.2012 – 01.2017 Tätigkeit bei Lichtwerk Altona Studios GmbH als Studioleitung</dd>
        <dd>04.2012 –  07.2012: Tätigkeit bei NETRADA Pictureparkstudios als Producer</dd>
        <dd>01.2007 - 10.2011: Tätigkeit bei der APART International GmbH als  Photoproduction Manager</dd>
        <dd>2004 - 09.2006: Tätigkeit als Assistent in IT und Einkauf bei City21 Immobilien</dd>
     </dl>
    </article>
    <article class="col-sm">
        <h2>Projekte</h2>
    <dl id="projekte"> 
        <dt> 2007-Heute</dt>
        <dd>2012 – 2017 Online und Social Media Auftritt Lichtwerk</dd>
        <dd>2012-2015 Backstage Filmproduktionen für Kunden </dd>
        <dd>2012-2017 Pflege und -betreuung des Lichtwerk Kundendatenarchivs unter Filemaker 3</dd>
        <dd>04 - 07 2012 Entwicklung einer Datenbank zur Leistungserfassung unter Excel</dd>
        <dd>2009 – 10.2011: Filmproduktion in Hamburg.</dd>
        <dd>02.2009 – 10.2011: Entwicklung und Umsetzung von Web- und Werbefilmen</dd>
        <dd>07.2008- 10.2011: Planung und Entwicklung der 360Grad Fotografie</dd>
        <dd>01.2007 - 10.2011: Fotoproduktion in Hamburg</dd>
        <dd>2010: Filmproduktion in Kapstadt </dd>
        <dd>2009: Aufbau des Film - Datenarchivs</dd>
        <dd>2009: Filmproduktion in Italien</dd>
        <dd>2008: Location - Scout in Griechenland</dd>
        <dd>2008: Erstellung des Datenarchivs für Bildmaterial</dd>
    </dl> 
</article>
<article class="col-sm">
    <h2>Ausbildung</h2>
    <dl id="Ausbildung" > 
  
        <dt> Schulische Ausbildung</dt>
        <dd>2001 - 2003: Abgeschlossene Ausbildung zum Technischen Assistenten für Informatik. Staatliche Fachhochschule Elektrotechnik</dd>
        
     </dl>
</article>
<article class="col-sm">
    <h2>Schullaufbahn</h2>
    <dl >  
        <dt>Abschluss</dt>
        <dd>1999 - 2001: Höhere Handelsschule H20</dd>
            <dd>Abschluss: Mittlere Reife </dd>
        
        <dd>2001- 2004: Staatliche Fachhochschule Elektrotechnik</dd>
        
     </dl>
</article>
<article class="col-sm">
    <h2>Kenntnisse</h2>
    <dl id="kenntisse"> 
        <dt>Fähigkeiten</dt>
        <dd>Technische Kenntnisse:
            <ul>
                <li>Netzwektechnik</li>
                <li>Hardware Pc/Mac</li>
                <li>Netzwerklistalation</li>
                <li>Hardware Foto-Film</li>
                <li>Foto- und Filmkamera</li>
                <li>Foto- und Filmlicht</li>
            </ul>
        </dd>
        <dd>Software Kenntnisse:
            <ul>
                <li>Virtual Code</li>
                <li>Notpad++</li>
                <li>phase 5 html Editor </li>
                <li>Photoshop</li>
                <li>MS Office</li>
                <li>Final Cut Pro</li>
                <li>Phase One</li>
                <li>Tri-Back-Up</li>
                <li>Quark </li>
            </ul>
        </dd>
        
    </dl>
        </article>
    </section>

{% endblock %}
